
@{
    ViewData["Title"] = "PatientDashboard";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

@{
    ViewData["Title"] = "Patient Dashboard";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="row">

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Upcoming Appointments</h5>
            <p>2 Scheduled</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Recent Bills</h5>
            <p>1 Pending Payment</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h5>Notifications</h5>
            <p>No new alerts</p>
        </div>
    </div>

</div>

