
@{
    ViewData["Title"] = "MyAppointments";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<h1>MyAppointments</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Booking Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DoctorName</td>
                <td>@item.PatientName</td>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Status</td>
            </tr>
        }
    </tbody>
</table>

